{% extends ':Mails:base.html.twig' %}

{% block subject %}Notificación de contacto{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            {#<th><img src="{{ absolute_url(asset('')) }}"></th>#}
        </tr>
        </tbody>
    </table>
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h4>Persona interesada en contactar</h4>
                            <p class="grey-color">{{ contact.name }}, con correo electronico <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> {% if contact.phone %}i teléfono {{ contact.phone }} {% endif %}ha rellenado el formulario de contacto con el siguiente mensaje:</p>
                            <p class="grey-color">"{{ contact.message }}"</p>
                            <p>Compruebalo en tu lista de contacto del CMS <a href="{{ url('admin_app_contactmessage_list') }}">aquí</a>, o respondele directamente clicando <a href="{{ url('admin_app_contactmessage_answer', {id: contact.id }) }}">aquí</a></p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
