<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="www.wiglesias.com">
    <title>{% block title %}Wiglesias{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter="cssrewrite,less" '@mycss' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}

{% block header %}
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('front_homepage') }}">Wiglesias</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {{ knp_menu_render('top', {currentClass: 'active', allow_safe_labels: true}) }}
            </div>
        </div>
    </nav>
{% endblock %}

{#<!-- Main content -->#}
{% block main %}{% endblock %}
{#<!-- Scroll-Top effect -->#}
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-2x fa-chevron-up"></i></span></div>
{#<!-- Footer -->#}
{% block footer %}
    <footer class="container-fluid text-center footer">
        <p>Wiglesias <i class="fa fa-copyright" aria-hidden="true"></i> {{ "now" | date("Y") }}</p>
        <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </footer>
{% endblock %}
{#<!-- Javascripts -->#}
{% block javascripts %}
    {% javascripts '@myjs' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block scroll_top %}
    {#<!-- Scroll-Top effect JS -->#}
    {% include ':Frontend/includes:scroll-to-top-js.html.twig' %}
{% endblock %}
</body>
</html>
