{% extends ':Frontend:base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <h1 class="no-m-top text-center">Contacto</h1>
            <div class="col-sm-4 col-md-6">
            </div>
            <div class="col-sm-8 col-md-6">
                {% include ':Frontend/includes:notice_flash.html.twig' %}
                {{ form_start(formContact) }}
                    {{ form_row(formContact.name) }}
                    {{ form_row(formContact.phone) }}
                    {{ form_row(formContact.email) }}
                    {{ form_row(formContact.message) }}
                    {{ form_rest(formContact) }}
                {{ form_end(formContact) }}
            </div>
        </div>
    </div>
{% endblock %}