{% extends ':Frontend:base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-4 col-md-6">
                <h2 class="no-m-top extra-m-bottom main-text-light">Cuéntame tu idea</h2>
                <p class="main-text-light">Bién, cuéntame cuales son tus propuestas, ideas o necesidades para tu negocio. Estoy aquí para aconsejarte y acompañarte durante el proceso de tu proyecto y hacerlo realidad....</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <h2 class="no-m-top extra-m-bottom main-text-light">Contacto</h2>
                {% include ':Frontend/includes:notice_flash.html.twig' %}
                {{ form_start(formContact) }}
                    {{ form_row(formContact.name) }}
                    {{ form_row(formContact.phone) }}
                    {{ form_row(formContact.email) }}
                    {{ form_row(formContact.message) }}
                    {{ form_rest(formContact) }}
                {{ form_end(formContact) }}
            </div>
        </div>
    </div>
{% endblock %}
