{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="jumbotron">
        <div class="container">
            <div class="head-wrap">
                <h1 class="intro-lead-in">Programador web</h1>
                <div class="text-editor-wrap">
                    <div class="title-bar"><span class="title">Terminal - info@wiglesias.com:~<span class="terminal-height"></span></span></div>
                    <div class="text-body">
                        w@w:~$ <span id="typed"></span>
                    </div>
                </div>
                <span class="tagline credits-heading">Nos mostramos al mundo?</span>
            </div>
            <div class="wrap">
                <div class="btn-wrap">
                    <p>
                        <button type="button" class="btn btn-wi btn-xl" data-toggle="modal" data-target="#form_modal">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Contacta conmigo
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>    {#<!-- Modal -->#}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-left">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title service-heading" id="myModalLabel">Formulario de contacto</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formHomepage) }}
                        {{ form_row(formHomepage.name) }}
                        {{ form_row(formHomepage.phone) }}
                        {{ form_row(formHomepage.email) }}
                        {{ form_rest(formHomepage) }}
                    {{ form_end(formHomepage) }}
                </div>
            </div>
        </div>
    </div>
    {% include ':Frontend/includes:notice_flash.html.twig' %}
    {# Services #}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <hr class="hr-divider-section">
                    <h3 class="section-subheading text-muted">A lo que me dedico con una buena taza de café</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Diseño Web</h4>
                    <p class="text-muted">Desarrollo páginas web atractivas, que se adaptan a tus necesidades y expectativas, intentando en todo momento adecuar un buen diseño a los requerimientos técnicos y funcionales que exige su proyecto.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarrollo Frontend y Backend</h4>
                    <p class="text-muted">Garantizo un producto final adaptado a dispositivos móviles, accesible y funcional en todos los navegadores. Diseño de una interfaz gráfica atractiva y usable para una experiencia de usuario óptima.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customización CMS</h4>
                    <p class="text-muted">Personalizo el sistema para que usted mismo pueda crear y administrar fácilmente su contenido. Obtenga el máximo beneficio de su web con un gestor de contenidos adaptado a sus necesidades.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ':Frontend/includes:terminal-jumb-js.html.twig' %}
    {% if not formHomepage.vars.valid %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#form_modal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
