{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="jumbotron text-center">
        <div class="container">
            <h3 class="margin small-m-bottom">Quién soy yo?</h3>
            <img src="{{ asset('bundles/app/img/wils.jpg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Wils" width="350" height="350">
            <h3>Me llamo Wils, soy un programador políglota de los lenguajes de programación. Amante de las nuevas tecnologías, autodidacta de nacimiento. Mi pasión es la programación y el desarrollo de aplicaciones</h3>
            <p>
                <button type="button" class="btn btn-rectangle btn-raised btn-wi btn-lg" data-toggle="modal" data-target="#form_modal">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Contacta conmigo
                </button>
            </p>
        </div>
    </div>
    {#<!-- Modal -->#}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-left">
                <div class="modal-header blue-background-light">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Formulario de contacto</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formHomepage) }}
                    {{ form_row(formHomepage.name) }}
                    {{ form_row(formHomepage.phone) }}
                    {{ form_row(formHomepage.email) }}
                    {{ form_rest(formHomepage) }}
                    {{ form_end(formHomepage) }}
                </div>
            </div>
        </div>
    </div>
    {% include ':Frontend/includes:notice_flash.html.twig' %}
    {# Services #}
    <div class="p-vertical container text-center">
        <div class="row">
            <div class="col-xs-12 extra-m-bottom">
                <h2>Servicios</h2>
                <h4>{{ words(3) }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <i class="small-m-bottom c-blue-md fa fa-desktop fa-5x" aria-hidden="true"></i>
                <h4>Diseño Web</h4>
                <p>{{ sentences(1) }}</p>
            </div>
            <div class="col-sm-4">
                <i class="small-m-bottom c-blue-md fa fa-cog fa-5x" aria-hidden="true"></i>
                <h4>Desarrollo Frontend y Backend</h4>
                <p>{{ sentences(1) }}</p>
            </div>
            <div class="col-sm-4">
                <i class="small-m-bottom c-blue-md fa fa-sliders fa-5x" aria-hidden="true"></i>
                <h4>Customización CMS</h4>
                <p>{{ sentences(1) }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if not formHomepage.vars.valid %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#form_modal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}