{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="jumbotron text-center">
        <div class="container">
            <div class="head-wrap">
                <h1 class="c-white">Programador web</h1>
                <div class="text-editor-wrap">
                    <div class="title-bar"><span class="title">Terminal - info@wiglesias.com:~<span class="terminal-height"></span></span></div>
                    <div class="text-body">
                        w@w:~$ <span id="typed"></span>
                    </div>
                </div>
                <span class="tagline main-text-light">Nos mostramos al mundo?</span>
            </div>
            <div class="wrap">
                <div class="btn-wrap">
                    <p>
                        <button type="button" class="btn btn-wi btn-lg extra-m-bottom" data-toggle="modal" data-target="#form_modal">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Contacta conmigo
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {#<!-- Modal -->#}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-left">
                <div class="modal-header blue-background-light">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title main-text-light" id="myModalLabel">Formulario de contacto</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formHomepage) }}
                    {{ form_row(formHomepage.name) }}
                    {{ form_row(formHomepage.phone) }}
                    {{ form_row(formHomepage.email) }}
                    {{ form_rest(formHomepage) }}
                    {{ form_end(formHomepage) }}
                </div>
            </div>
        </div>
    </div>
    {% include ':Frontend/includes:notice_flash.html.twig' %}
    {# Services #}
    {#<div class="p-vertical text-center">#}
        <div class="container container-main">
            <div class="row">
                <div class="col-xs-12 extra-m-bottom text-center">
                    <h2 class="main-text-light no-m-top">Servicios</h2>
                    <h3 class="main-text-light">A lo que me dedico con una buena taza de café</h3>
                    <h4 class="c-grey main-text-light">¿Quieres sacar el máximo partido de tu web con una programación a medida?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <i class="small-m-bottom c-blue-md fa fa-desktop fa-5x" aria-hidden="true"></i>
                    <h3 class="main-text-light">Diseño Web</h3>
                    <p class="c-grey main-text-light">Desarrollo páginas web atractivas, que se adaptan a tus necesidades y expectativas, intentando en todo momento adecuar un buen diseño a los requerimientos técnicos y funcionales que exige su proyecto.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="small-m-bottom c-blue-md fa fa-cog fa-5x" aria-hidden="true"></i>
                    <h3 class="main-text-light">Desarrollo Frontend y Backend</h3>
                    <p class="c-grey main-text-light">Garantizo un producto final adaptado a dispositivos móviles, accesible y funcional en todos los navegadores. Diseño de una interfaz gráfica atractiva y usable para una experiencia de usuario óptima.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="small-m-bottom c-blue-md fa fa-sliders fa-5x" aria-hidden="true"></i>
                    <h3 class="main-text-light">Customización CMS</h3>
                    <p class="c-grey main-text-light">Personalizo el sistema para que usted mismo pueda crear y administrar fácilmente su contenido. Obtenga el máximo beneficio de su web con un gestor de contenidos adaptado a sus necesidades.</p>
                </div>
            </div>
        </div>
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ':Frontend/includes:terminal-jumb-js.html.twig' %}
    {% if not formHomepage.vars.valid %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#form_modal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
