<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="www.wiglesias.com">
    <title>Facturación</title>
    {% block stylesheets %}
        {% stylesheets filter="cssrewrite,less" '@mycss' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body id="page-top" class="index">
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Factura {{ invoice.id }}-{{ invoice.date | date('Y') }} </h2>
                <p>
                    Fecha {{ invoice.date | date('d/m/Y') }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            Wilson Iglesias Vaca <br>
                            41631353-L <br>
                            Calle Doctor Alexandre Fleming, nº 62-66 <br>
                            43510 Bítem (Tortosa)
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            {{ invoice.customer.company }} <br>
                            {{ invoice.customer.identityCard }} <br>
                            {{ invoice.customer.adress }} <br>
                            {{ invoice.customer.postalCode }} {{ invoice.customer.city }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Concepto</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                        <th class="text-right">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for line in invoice.lines %}
                        <tr>
                            <td>{{ line.name }}</td>
                            <td class="text-right">{{ line.amount }}</td>
                            <td class="text-right">{{ line.price | number_format(2, '\'', '.') }} €</td>
                            <td class="text-right">{{ line.total | number_format(2, '\'', '.') }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">Base imponible</th>
                        <td class="text-right">{{ invoice.taxableBase | number_format(2, '\'', '.') }} €</td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-right">IVA {{ invoice.iva }}%</th>
                        <td class="text-right">{{ invoice.calculateIva | number_format(2, '\'', '.') }} €</td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-right">IRPF {{ invoice.irpf }}%</th>
                        <td class="text-right">-{{ invoice.calculateIrpf | number_format(2, '\'', '.') }} €</td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-right">TOTAL</th>
                        <th class="text-right">{{ invoice.total | number_format(2, '\'', '.') }} €</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
