{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ post.title }} · Blog{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-4 extra-m-bottom">
                {# left side #}
                {% if post.imageName is not null %}
                    <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('780xY') }}" class="img-responsive" alt="photo">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h2 class="no-m-top">{{ post.title }}</h2>
                <h4 class="text-muted">{{ post.publishedAt | date('d/m/Y') }}</h4>
                <h4 class="c-blue">{{ post.tags | join(', ')  }}</h4>
                <p>{{ post.description | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
