{% extends ':Frontend:base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block main %}
{#    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Post detail</h2>
                <h5>{{ post.title }}</h5>
                <h5>{{ post.slug }}</h5>
                <h5>{{ post.description }}</h5>
                <h5>{{ post.publishedAt|date('d/m/Y') }}</h5>
                <a href="{{ path('front_blog') }}">Llista d'Articles</a>
            </div>
        </div>
    </div>
#}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-4">
                {# left side #}
                <img src="..." alt="#" class="thumbnail">
            </div>
            <div class="col-md-8">
                <h2 class="no-m-top">{{ post.title }}</h2>
                <h4 class="text-muted">{{ post.publishedAt | date('d/m/Y') }}</h4>
                <h4 class="c-blue">{{ post.tags | join(', ')  }}</h4>
                <p>{{ post.description | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
