{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ post.title }} · Blog{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            {# left side #}
            <div class="col-sm-4 extra-m-bottom">
                {% include ':Frontend/includes:image_detail.html.twig' with {object: post, filter: '780xY'} %}
            </div>
            <div class="col-sm-8">
                <h2 class="no-m-top">{{ post.title }}</h2>
                <h4 class="text-muted">{{ post.publishedAt | date('d/m/Y') }}</h4>
                <h4 class="c-blue">{{ post.tags | join(', ')  }}</h4>
                <p>{{ post.description | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
