{% extends ':Frontend:base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% if pagination.getTotalItemCount > 0 %}
                        {% for post in pagination %}
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <a href="{{ path('front_blog_detail', {slug: post.slug, year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d') }) }}">
                                    {% include ':Frontend/includes:image_detail.html.twig' with {object: post, filter: '750x250'} %}
                                </a>
                                <div class="caption">
                                    <h3 class="no-m-top main-title">{{ post.title }}</h3>
                                    <h6 class="text-muted"><i class="fa fa-calendar c-orange-md" aria-hidden="true"></i> {{ post.publishedAt | date('d/m/Y') }} | por {{ post.author.fullname }}</h6>
                                    <p class="main-text-light">{{ post.shortDescription }}</p>
                                    <p>
                                        <a href="{{ path('front_blog_detail', {slug: post.slug, year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d') }) }}"
                                           class="btn btn-wi" role="button">Leer más</a></p>
                                </div>
                            </div>
                        </div>
                        {% if loop.index is divisible by(1) %}
                    </div>
                    <div class="row extra-m-top">
                        {% endif %}
                        {% endfor %}
                        {% else %}
                            {% include ':Frontend/includes:under_construciton_warning.html.twig' %}
                        {% endif %}
                        {% include ':Frontend/includes:paginator_buttons_bar.html.twig' %}
                    </div>
                </div>
                <div class="col-md-4">
                    {% include ':Frontend/includes:_side.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
